<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">

                <li>
                    <a href="/">
                        <i data-feather="home"></i>
                        <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>

                <% 
                const p = typeof userPermissions !== 'undefined' ? userPermissions : [];
                const has = (perm) => p.includes(perm);
                %>

                <% if (has('assets:read')) { %>
                <li class="menu-title" data-key="t-inventory-heading">Inventory</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="hard-drive"></i>
                        <span data-key="t-assets">Hardware Assets</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/assets" data-key="t-all-assets">All Assets</a></li>
                        <% if (has('assets:write')) { %>
                        <li><a href="/assets/new" data-key="t-new-asset">Add Asset</a></li>
                        <% } %>
                    </ul>
                </li>
                <% } %>

                <% if (has('inventory:read')) { %>
                <li>
                    <a href="/licenses">
                        <i data-feather="key"></i>
                        <span data-key="t-licenses">Software Licenses</span>
                    </a>
                </li>

                <li>
                    <a href="/license-seats">
                        <i data-feather="user-check"></i>
                        <span data-key="t-license-seats">License Seats</span>
                    </a>
                </li>
                <% } %>

                <% if (has('lifecycle:read')) { %>
                <li class="menu-title" data-key="t-lifecycle-heading">Lifecycle</li>

                <li>
                    <a href="/assignments">
                        <i data-feather="git-merge"></i>
                        <span data-key="t-assignments">Assignments</span>
                    </a>
                </li>

                <li>
                    <a href="/maintenance">
                        <i data-feather="tool"></i>
                        <span data-key="t-maintenance">Maintenance</span>
                    </a>
                </li>

                <li>
                    <a href="/approvals">
                        <i data-feather="check-square"></i>
                        <span data-key="t-approvals">Approvals</span>
                    </a>
                </li>

                <li>
                    <a href="/warranty">
                        <i data-feather="shield"></i>
                        <span data-key="t-warranty">Warranty Tracking</span>
                    </a>
                </li>
                <% } %>

                <% if (has('directory:read')) { %>
                <li class="menu-title" data-key="t-directory-heading">Directory</li>

                <li>
                    <a href="/users">
                        <i data-feather="users"></i>
                        <span data-key="t-users">Users</span>
                    </a>
                </li>

                <li>
                    <a href="/departments">
                        <i data-feather="briefcase"></i>
                        <span data-key="t-departments">Departments</span>
                    </a>
                </li>

                <li>
                    <a href="/locations">
                        <i data-feather="map-pin"></i>
                        <span data-key="t-locations">Locations</span>
                    </a>
                </li>

                <li>
                    <a href="/vendors">
                        <i data-feather="truck"></i>
                        <span data-key="t-vendors">Vendors</span>
                    </a>
                </li>

                <li>
                    <a href="/categories">
                        <i data-feather="tag"></i>
                        <span data-key="t-categories">Categories</span>
                    </a>
                </li>
                <% } %>

                <% if (has('admin:read')) { %>
                <li class="menu-title" data-key="t-admin-heading">Admin</li>

                <li>
                    <a href="/roles">
                        <i data-feather="sliders"></i>
                        <span data-key="t-roles">Roles &amp; Permissions</span>
                    </a>
                </li>

                <li>
                    <a href="/audit-log">
                        <i data-feather="archive"></i>
                        <span data-key="t-audit-log">Audit Log</span>
                    </a>
                </li>

                <li>
                    <a href="/perm-bumps">
                        <i data-feather="zap"></i>
                        <span data-key="t-perm-bumps">Permission Bumps</span>
                    </a>
                </li>

                <li>
                    <a href="/reports">
                        <i data-feather="bar-chart-2"></i>
                        <span data-key="t-reports">Reports</span>
                    </a>
                </li>
                <% } %>

                <% if (has('communications:read')) { %>
                <li class="menu-title" data-key="t-communications-heading">Communications</li>

                <li>
                    <a href="/notifications">
                        <i data-feather="bell"></i>
                        <span data-key="t-notifications">Notifications</span>
                    </a>
                </li>

                <li>
                    <a href="/webhooks">
                        <i data-feather="radio"></i>
                        <span data-key="t-webhooks">Webhooks</span>
                    </a>
                </li>
                <% } %>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
