<%- include('../partials/head', { title: "Dashboard" }) %>

<body>

    <div id="layout-wrapper">

        <%- include('../partials/topbar') %>
        <%- include('../partials/sidebar') %>

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Dashboard</h4>
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Overview</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-h-100">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Total Assets</span>
                                            <h4 class="mb-3" id="stat-total-assets">--</h4>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <div class="avatar-sm">
                                                <span class="avatar-title bg-primary-subtle rounded text-primary font-size-24">
                                                    <i class="mdi mdi-harddisk"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/assets" class="text-decoration-underline text-muted font-size-13">View all assets <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6">
                            <div class="card card-h-100">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Assigned Assets</span>
                                            <h4 class="mb-3" id="stat-assigned">--</h4>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <div class="avatar-sm">
                                                <span class="avatar-title bg-success-subtle rounded text-success font-size-24">
                                                    <i class="mdi mdi-account-check"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/assignments" class="text-decoration-underline text-muted font-size-13">View assignments <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6">
                            <div class="card card-h-100">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Users</span>
                                            <h4 class="mb-3" id="stat-users">--</h4>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <div class="avatar-sm">
                                                <span class="avatar-title bg-info-subtle rounded text-info font-size-24">
                                                    <i class="mdi mdi-account-group"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/users" class="text-decoration-underline text-muted font-size-13">View directory <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6">
                            <div class="card card-h-100">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1">
                                            <span class="text-muted mb-3 lh-1 d-block text-truncate">Vendors &amp; Locations</span>
                                            <h4 class="mb-3"><span id="stat-vendors">--</span> / <span id="stat-locations">--</span></h4>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <div class="avatar-sm">
                                                <span class="avatar-title bg-warning-subtle rounded text-warning font-size-24">
                                                    <i class="mdi mdi-office-building"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/vendors" class="text-decoration-underline text-muted font-size-13">Vendors <i class="mdi mdi-arrow-right"></i></a>
                                    <span class="text-muted">|</span>
                                    <a href="/locations" class="text-decoration-underline text-muted font-size-13">Locations <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-7">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title mb-4">Assets by Category</h5>
                                    <div id="chart-assets-by-category" data-colors='["#5156be","#34c38f","#f1b44c","#f46a6a","#50a5f1","#74788d","#6f42c1","#e83e8c"]' class="apex-charts" style="height: 320px;"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-5">
                            <div class="card card-h-100">
                                <div class="card-body">
                                    <h5 class="card-title mb-4">Assets by Status</h5>
                                    <div id="chart-assets-by-status" data-colors='["#34c38f","#5156be","#f1b44c","#f46a6a","#74788d"]' class="apex-charts" style="height: 320px;"></div>
                                </div>
                            </div>
                 
